_auth = Y3NzdXBlcnB5QGdtYWlsLmNvbTpBUDhZcXRqM3UzbmdaeldRN2NEOEgzdlpZc0ZBWG9aUXR5b3dXWA==
email = cssuperpy@gmail.com
always-auth = true
registry = https://pris.jfrog.io/artifactory/api/npm/test-npm-local/